<!-- BugStats component -->
<div>
    <button (click)="onBtnChangeSource(bugStorageType.Server)">Server</button>
    <button (click)="onBtnChangeSource(bugStorageType.Local)">Local</button>
</div>
<app-bug-stats [bugs]="bugOperations.bugs"></app-bug-stats>
<section class="sort">
    <label for="">Order By :</label>
    <select (change)="sortAttr = $any($event.target).value">
        <option value="">---Select---</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created At</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" (change)="sortDesc = $any($event.target).checked">
</section>
<app-bug-edit (onNewBug)="onNewBugCreated($event)"></app-bug-edit>
<section class="list">
    <ol>
        <li *ngFor="let bug of ( bugOperations.bugs | sort:sortAttr:sortDesc) ">
            <span 
                class="bugname"
                (click)="onBugNameClick(bug)"
                [ngClass]="{closed : bug.isClosed}"
                >
                {{bug.name | trimText:40}}
            </span>
            <div class="datetime" [title]="bug.createdAt">
                {{bug.createdAt | elapsed}}
            </div>
            <button (click)="onBtnRemoveClick(bug)">Remove</button>
        </li>
    </ol>
    <button 
        (click)="onBtnRemoveClosedClick()"
    >Remove Closed</button>
</section>
